*{
	padding: 0;
	margin: 0;
}

.content{
	width: 50000px;
	height: 100%;
}

.list_t{
	width: 230px;
	height: 100%;
	float: left;
	background: #080D10;
	border: 2px solid #080D10;
}

.l_t_t{
	width: 230px;
	height: 50px;
}

.qihao{
	width: 115px;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 20px;
}

.qh_show{
	width: 230px;
	height: 30px;
}

.qh_show > div{
	width: 113px;
	height: 28px;
	border: 1px dashed white;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: white;
}

.qh_show_n{
	float: left;
}

.qh_show_c{
	float: right;
}

.list{
	width: 430px;
	height: 100%;
	float: left;
	margin-left: 15px;
	border: 2px solid gray;
}

.l_title{
	width: 430px;
	height: 50px;
}

.zymshow{
	width: 430px;
	height: 30px;
	background: #202340;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	color: white;
}

.gsbqw{
	width: 430px;
	height: 20px;
	background: green;
}

.gsbqw_l{
	float: left;
	width: 84px;
	height: 18px;
	text-align: center;
	line-height: 20px;
	border: 1px solid gray;
}

.l_number{
	width: 430px;
	height: 30px;
}

.l_number_s{
	width: 84px;
	height: 28px;
	/*border: 1px dashed gray;*/
	float: left;
	border-top: 1px dashed gray;
	border-bottom: 1px dashed gray;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.l_number_s > div{
	width: 23px;
	height: 23px;
	border-radius: 23px;
	margin-top: 2.5px;
	text-align: center;
	line-height: 23px;
}

.zuoma{
	background: #ABCDEF;
	float: left;
	margin-left: 6px;
}

.zuoquan{
	background: url("../image/zuoquan.jpg") no-repeat;
    background-size: contain;
}

.zuoshang{
	background: url("../image/zuoshang.jpg") no-repeat;
    background-size: contain;
}

.zuoxia{
	background: url("../image/zuoxia.jpg") no-repeat;
    background-size: contain;
}

.youquan{
	background: url("../image/youquan.jpg") no-repeat;
    background-size: contain;
}

.youshang{
	background: url("../image/youshang.jpg") no-repeat;
    background-size: contain;
}

.youxia{
	background: url("../image/youxia.jpg") no-repeat;
    background-size: contain;
}

.youma{
	background: #ABCDEF;
	float: right;
	margin-right: 6px;
}